{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}
{% block content %}
<div class="row mb-3">
    <div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">Fabric Site</h5>
            <div class="card-body"><table class="table table-hover attr-table"><tr>
                <th scope="row">Name</th>
                <td>{{ object.name }}</td>
            </tr>
            <tr>
                <th scope="row">Physical Site</th>
                <td><a href="{{ object.physical_site.get_absolute_url }}">{{ object.physical_site }}</a></td>
            </tr>
            <tr>
                <th scope="row">Location</th>
                <td><a href="{{ object.location.get_absolute_url }}">{{ object.location }}</a></td>
            </tr>
            <tr>
                <th scope="row">Number of Devices</th>
                <td>{{ object.devices.count }}</td>
            </tr></table></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col col-md-12">
        <div class="card">
            <h5 class="card-header">Devices</h5>
            <div class="card-body table-responsive">
                {% render_table devices_table %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}