{% extends 'generic/object.html' %} {% load render_table from django_tables2 %}
{% block content %}
<div class="row mb-3">
    <div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">Fabric Site</h5>
            <div class="card-body">
                <table class="table table-hover attr-table">
                    <tr>
                        <th scope="row">Name</th>
                        <td>{{ object.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Fabric Site</th>
                        <td>
                            <a href="{{ object.fabric_site.get_absolute_url }}"
                                >{{ object.fabric_site }}</a
                            >
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">ASN</th>
                        <td>{{ object.asn }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
